@media (max-width: 768px) {
    body{
        width: 96vw;
    }
    #card{
        width: 90%;
        height: 700px;
        flex-flow: column nowrap;
    }
    #img > img{
        
    }
    #content > h2{
        font-size: 1.3em;
        line-height: 26px;
    }
    #content > p{
        font-size: 1.1em;
    }
    
}